<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="methods" thread-count="2">
    <test name="MyTest">
       <packages>
           <package name="alertsFramesWindows"></package>
       </packages>
        <classes>
            <class name="OksanaTest"></class>
            <class name="LogAddTest"></class>
            <class name="apiDemoSimpleTest"></class>
            <class name="ElementsHelenTest"></class>
        </classes>
    </test>
</suite>
