<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Секция которая выводит в консоль -->
        <Console name="LogToConsole" target="SYSTEM_OUT" follow="true">
            <!-- Тут делаем вывод в консоль в цвете и настраиваем вывод-->

            <PatternLayout disableAnsi="false" pattern="%highlight{%d{HH:mm:ss}  %-5level  %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=yellow bold, DEBUG=green bold, TRACE=blue}"/>
            <!-- Old configuration -->
            <!--    <PatternLayout disableAnsi="false"  pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}" />-->
        </Console>

        <!-- Секция которая выводит в файл -->
        <File name="LogToFile" fileName="itfriendly-test.log">
            <PatternLayout>
                <Pattern> %-5level %d{HH:mm:ss} %M() - %msg%n
                </Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <!-- Секция которая выполняет более гибкую настройку пакета/файла и уровень логирования -->
    <Loggers>
        <Logger name="org.itfriendly" level="ALL" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.itfriendly.Main" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>